.Single {
  overflow: scroll;
  height: 50vh;
  &::-webkit-scrollbar {
    display: none;
  }
  .rightItem {
    width: 100%;
    text-align: center;
    color: black;
    .heads {
      height: 1rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .sonWarpper {
      width: 100%;
      text-align: center;
      background-color: white;
      font-size: 0.366666667rem;
      .grid {
        height: 1rem;
        margin-top: -15px;
        line-height: 1rem;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;

        span {
          flex: 1;
        }
        .redNum {
          color: red;
        }
        .selected {
          border: 1px solid red;
        }
        position: relative;
        img {
          position: absolute;
          right: 0;
          bottom: 0;
          height: 0.5rem;
          width: 0.5rem;
        }
      }
    }
  }
}
