.button {
  width: 6.8rem;
  margin: 0 auto;
  background-color: #d4bd5f;
  text-align: center;
  height: .88rem;
  line-height: .88rem;
  font-size: .466666667rem;
  color: #fff;
  border-radius: .8rem;
  margin-top: .933333333rem;
  background-image: url(../../images/mine/btn-bgs.png);
  background-size: cover;
}
