.top-bar {
  position: fixed;
  top: 0rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: $page-topbar-height;
  padding: 0 .133333333rem;
  background-color: #171712;


  &.game {
    height: $game-page-topbar-height;
    border-bottom: 1px solid #695d3b;
    background-color: #21211a;
  }

  .left,
  .mid,
  .right {
    flex: 1;
  }


  .left {
    display: flex;
    align-items: center;
    font-size: .466666667rem;

    .icon {
      width: .32rem;
      height: .453333333rem;
      margin-right: .133333333rem;
      background: url(../../images/type/back.png) no-repeat;
      background-size: cover;
    }

    .leftContent {
      word-break: keep-all;
    }
  }

  .mid {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 0.55rem;
  }
}
