.mask_nav {
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  font-size: 0.4rem;
  &_header {
    width: 50%;
    height: 1.75rem;
    background: linear-gradient(to right, rgb(202, 185, 128), rgb(182, 156, 82));
    text-align: center;
    line-height: 0.6rem;
    color: #000000;
    box-sizing: border-box;
    padding: 0.275rem 0;
    &_name {
      font-weight: bold;
      font-size: 0.4rem;
    }
    &_total {
      font-size: 0.32rem;
    }
  }
  &_content {
    width: 5rem;
    height: calc(100vh - 3.28rem);
    background: rgb(232, 231, 226);
    box-sizing: border-box;
    padding-top: 0.12rem;
    &_item {
      height: 1.53rem;
      background: #ffffff;
      line-height: 1.53rem;
      text-align: center;
      border-bottom: 1px solid rgb(239, 238, 234);
      color: #000000;
      img {
        width: 0.6rem;
        height: auto;
        margin-right: 0.3rem;
      }
    }
  }
  &_footer {
    height: 1.53rem;
    background: #ffffff;
    width: 5rem;
    text-align: center;
    line-height: 1.53rem;
    color: #000000;
    img {
      width: 0.6rem;
      height: auto;
      margin-right: 0.3rem;
    }
  }
}