.page {
  display: flex;
  padding-top: $page-topbar-height;
  flex-direction: column;
  min-height: 100%;
  color: #caa857;

  background: #f2f5ea url(../../images/deposit/bg-ck.png) no-repeat;
  background-size: cover;
  &.game {
    padding-top: $game-page-topbar-height;
  }
}
