.notice {
  display: flex;
  align-items: center;

  .balance {
    flex: 0;
    padding-left: .6rem;
    height: .44rem;
    line-height: .44rem;
    font-size: .333333333rem;
    color: #dfc77e;
    background: url(../../images/type/gold.png) no-repeat 0% center;
    background-size: .44rem .44rem;
  }
}


.main {
  display: flex;
  background-color: #1f1e18;
  background-image: none;
  .wrap {
    overflow-x: scroll;
  }
  .card {
    display: flex;
    justify-content: space-between;
  }
  .type {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 2.266666667rem;
    background-color: #151410;

    .item {
      display: flex;
      align-items: center;
      justify-content: space-around;
      margin: 0 auto;
      width: 1.24rem;
      height: 1.08rem;
      line-height: 1.08rem;
      text-align: center;
      font-size: .4rem;
      color: #d40d08;

      &:not(:last-child) {
        border-bottom: 1px solid #28251e;
      }

      &.tie {
        color: #5ab900;
        .count {
          border-color: #5ab900;
        }
      }

      &.tiger {
        color: #113893;
        .count {
          border-color: #113893;
        }
      }

      .count {
        width: 0.6rem;
        height: 0.6rem;
        line-height: 0.6rem;
        border: 2px solid #d40d08;
        border-radius: 50%;
      }
    }
  }
}

.content {
  display: flex;
  flex-direction: column;

  .header {
    height: .546666667rem;
    line-height: .546666667rem;
    white-space: nowrap;
    font-size: .373333333rem;
    background-color: #151410;
    span {
      margin-right: .266666667rem;
    }

    .name {
      font-weight: bold;
    }

    .status {
      flex: 1;
      padding: 0 2%;
      border: 1px solid #caa857;
      border-radius: 0.08rem;

      &.begin {
        border-color: #02fb19;
        color: #02fb19;
      }
      &.open {
        border-color: #02fb19;
        color: #02fb19;
      }
    }
  }

  .box {
    display: flex;

    flex: 1;

    .dish {
      display: flex;
      flex: 1;
      flex-direction: column;
      max-height: 2.7rem;
      flex-wrap: wrap;

      .item {
        width: 0.45rem;
        height: 0.45rem;

        border: 1px solid #eee;
        background-color: #ffffff;
        background-repeat: no-repeat;
        background-size: cover;

        &.item_1 {
          background-image: url(../../images/type/ll.png);
        }
        &.item_2 {
          background-image: url(../../images/type/hh.png);
        }
        &.item_3 {
          background-image: url(../../images/type/lhh.png);
        }
      }
    }

    .bigRoad {
      display: flex;
      flex: 1;
      margin-left: 4.8rem;
      flex-direction: column;
      max-height: 2.7rem;
      flex-wrap: wrap;

      .item {
        position: relative;
        width: 0.45rem;
        height: 0.45rem;

        border: 1px solid #eee;
        background-color: #fff;

        &.hasTie {
          background-image: url('../../images/type/hhh.png');
          background-repeat: no-repeat;
          background-position: center;
        }

        .circle {
          position: absolute;
          top: 0;
          left: 0;
        }

        .text {
          font-size: .386666667rem;
          text-anchor: middle;
        }
      }
    }


  }
}
